* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	align-items: center;
}
html {
	scroll-behavior: smooth;
}

:root {
	--shadow-primary: 0px 3px 5px rgb(201, 201, 201);
	--shadow-secondary: 0px 3px 15px rgba(0, 0, 0, 0.3);

	/* ======== Color Variables ========== */
	--color-primary-dark: #FAC33D;
	--color-primary: #E8C676;
	--color-primary-light: #EEE786;

	--color-secondary: #145DA0;
	--color-secondary-dark: #051D40;

	--color-dark: #3F3F3F;
	--color-very-dark: #4A4A4A;
	--color-medium: #8F8F8F;
	--color-light: #FCFCFC;

	/* ======== Font Variables ========== */
	--title-font: 'Raleway', sans-serif;
	--primary-font: 'Raleway', sans-serif;
	--icon-font: 'Bodoni Moda', serif;
}

/* ======== Element styles ========== */
body {
	background-color: var(--color-light);
	text-align: center;
	overflow-x: hidden;
}
header {
	height: 100vh;
}
footer {
	height: 100vh;
}

/* ======== Class styles ========== */
.flex {
	display: flex;
}