/* ======== General styles ========== */
::-webkit-scrollbar {
	width: 0;
}

header {
	height: 80vh;
	background: -webkit-linear-gradient(220deg, rgba(222, 176, 61, 0.4), rgba(5, 29, 64, 0.7)),
	url('../assets/images/fondo.webp');
	background: linear-gradient(220deg, rgba(222, 176, 61, 0.4), rgba(5, 29, 64, 0.7)),
	url('../assets/images/fondo.webp');
	background: -moz-linear-gradient(220deg, rgba(222, 176, 61, 0.4), rgba(5, 29, 64, 0.7)),
	url('../assets/images/fondo.webp');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 0 0;
	background-attachment: fixed;
	box-shadow: inset 0px -4px 16px rgba(32, 32, 32, 0.3);
}
footer {
	height: 60vh;
	position: relative;
	background: -webkit-linear-gradient(220deg, rgba(5, 29, 64, 0.7), rgba(222, 176, 61, 0.2)),
	url('../assets/images/fondo.webp');
	background: linear-gradient(220deg, rgba(5, 29, 64, 0.7), rgba(222, 176, 61, 0.2)),
	url('../assets/images/fondo.webp');
	background: -moz-linear-gradient(220deg, rgba(5, 29, 64, 0.7), rgba(222, 176, 61, 0.2)),
	url('../assets/images/fondo.webp');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 0 0;
	background-attachment: fixed;
	box-shadow: inset 0px -4px 16px rgba(32, 32, 32, 0.3);
}
h1 {
	color: var(--color-light);
	font-family: var(--title-font);
	font-weight: bolder;
	font-size: 60px;
	margin-bottom: 15px;
}
h2 {
	color: var(--color-primary);
	font-size: 40px;
	padding-top: 150px;
}
h2.title-left {
	margin-left: 160px;
}
h3 {
	color: var(--color-light);
	font-weight: 200;
}
h4 {
	color: var(--color-light);
	font-weight: 300;
	font-style: italic;
	font-family: var(--primary-font);
}
h5 {
	color: var(--color-light);
	font-family: var(--primary-font);
	font-size: 24px;
	font-weight: 100;
	font-style: italic;
	margin-left: 5%;
	margin-right: auto;
	width: 25%;
}
h6 {
	color: var(--color-light);
	font-family: var(--primary-font);
	font-weight: 400;
	font-size: 13px;
	position: absolute;
	bottom: 3vh;
	left: 5vh;
	z-index: 1;
}
a {
	text-decoration: none;
}
p {
	font-family: var(--primary-font);
	font-size: 28px;
	font-weight: 300;
	color: var(--color-dark);
	margin: 0 160px 50px;
}
pre {
	font-size: 24px;
	font-style: italic;
	color: var(--color-dark);
}
b {
	font-weight: normal;
}
strong {
	color: var(--color-secondary);
	font-weight: normal;
}
i {
	font-size: 48px;
}
nav {
	position: fixed;
	display: flex;
	align-items: stretch;
	top: 0;
	left: 0;
	width: 100vw;
	height: 70px;
	transition: height .4s ease-in-out, box-shadow .7s ease, background-color .3s ease-in-out;
	z-index: 20;
}
article {
	width: 100vw;
	height: 100vh;
	justify-content: center;
	align-items: center;
	text-align: center;
}
article:nth-child(1) {
	text-align: start;
}
hr {
	background-color: var(--color-primary);
	width: 100px;
	height: 3px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 60px;
	border-width: 0px;
	border-radius: 5px;
}
hr.hr-left {
	margin-left: 160px;
}
ul {
	display: flex;
	margin-left: auto;
	margin-right: 2vw;
	width: 50vw;
	justify-content: end;
}


/* ======== Class styles ========== */

/* Landing styles */
.flex {
	display: flex;
	text-align: left;
}

.flex > .data:nth-child(1) {
	margin-left: 300px;
}
.flex > .data:nth-child(2) {
	margin-right: 300px;
	margin-left: auto;
}
.abajo {
	background-color: var(--color-secondary-dark);
	height: 50px;
	box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.3);
}
.abajo .nav-link:hover {
	background-color: var(--color-secondary);
}
.abajo, .abajo .hamburguer {
	font-size: 18px;
	color: var(--color-light);
}
.abajo .nav-link {
	font-size: 16px;
	border-radius: 8px;
	margin: 10px;
}
.abajo .logo {
	font-size: 25px;
}

.nav-input {
	display: none;
}
.nav-label {
	margin-right: 3%;
	margin-left: auto;
	display: none;
	transition: all .5s ease-in-out;
}

.landing-text {
	padding-top: 23vh;
	text-align: end;
	margin-top: 10vh;
	margin-left: 5vw;
	width: 45vw;
}
.landing-text > h3 {
	font-size: 30px;
	font-family: var(--primary-font);
	margin-bottom: 40px;
}
.landing-img {
	width: 35%;
	position: absolute;
	right: 5vw;
	bottom: 0;
}

.nav-link {
	text-decoration: none;
	position: relative;
	padding: 10px 18px;
	color: var(--color-light);
	font-family: var(--primary-font);
	font-size: 18px;
	transition: 0.3s ease-in-out;
}
.nav-link::after {
	content: "";
	width: 0;
	height: 1px;
	position: absolute;
	top: 80%;
	left: 15%;
	/* border-radius: 3px; */
	background-color: var(--color-light);
	z-index: 30;
	transition: width .5s;
}
.nav-element {
	list-style: none;
	position: relative;
	font-weight: 300;
}
.nav-element:hover .nav-link::after {
	width: 60%;
}
.abajo .nav-element:hover .nav-link::after {
	width: 0;
}


.social-media {
	text-align: center;
}
.social-link {
	width: 60px;
	height: 60px;

	display: inline-block;
	border: 3px solid var(--color-primary-dark);
	border-radius: 50%;
	margin: 0 10px;

	transition: all 0.3s ease-in;
}
.logo {
	position: absolute;
	top: 0;
	left: 3%;
	color: var(--color-light);
	color: var(--color-light);
	font-family: var(--icon-font);
	font-weight: 600;
	font-size: 38px;
	transition: all .3s ease-in;
}
.logo::before {
	content: 'E';
	position: absolute;
	top: 25%;
	left: 38%;
}
.logo::after {
	content: 'S';
}
.icon {
	margin-top: 9px;
	font-size: 34px;
	color: var(--color-primary-dark);
}
.social-link:hover .icon {
	color: var(--color-light);
	transition: 0.5s ease-in-out;
}
.social-link:hover {
	background-color: var(--color-primary-dark);
	box-shadow: var(--shadow-secondary);
	transform: translateY(-10%);
}

.profile-img {
	width: 220px;
	height: 220px;

	position: absolute;
	top: calc(80vh - 110px);
	left: calc(50vw - 110px);

	background: url('/assets/images/foto-perfil.webp');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;

	border: 6px solid var(--color-light);
	border-radius: 50%;
	box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.3);
}


/* Phrase styles */
.phrase {
	background-color: var(--color-very-dark);
	box-shadow: inset 0 0 18px rgba(0, 0, 0, 0.3);
	height: 100vh;
	text-align: right;
	justify-content: right;
}
.phrase > p {
	color: var(--color-light);
	font-family: var(--primary-font);
	font-weight: 900;
	font-size: 54px;
	padding-top: 80px;
	width: 470px;
	margin-right: 100px;
	text-shadow: var(--shadow-secondary);
}
.phrase > hr {
	background-color: var(--color-light);
	margin-bottom: 15px;
	margin-top: 20px;
	margin-right: 100px;
	box-shadow: var(--shadow-secondary);
}
.phrase > h4 {
	text-shadow: var(--shadow-secondary);
	margin-right: 100px;
	font-size: 20px;
}

.flex > div:nth-child(1) {
	margin-left: 20%;
	margin-right: auto;
}
.flex > div:nth-child(2) {
	margin-left: auto;
	margin-right: auto;
}
.flex > div:nth-child(3) {
	margin-left: auto;
	margin-right: auto;
}
.flex > div:nth-child(4) {
	margin-left: auto;
	margin-right: 20%;
}


/* Skills styles */
.skills {
	background: linear-gradient(220deg, rgba(5, 29, 64, 0.6), rgba(5, 29, 64, 0.7)),
	url('../assets/images/fondo.webp');
	justify-content: space-between;
}
h2.skill-title {
	color: var(--color-primary-light);
}
h2.skill-hr {
	color: var(--color-primary-light);
}
.technologies {
	margin-bottom: 20vh;
}
.skill-img {
	color: var(--color-secondary);
	font-size: 45px;
	background-color: var(--color-light);
	border-radius: 50%;
	width: 80px;
	height: 80px;
	padding-top: 22%;
	text-align: center;
	transition: all 0.5s ease-out;
}
.skill-img:hover {
	box-shadow: var(--shadow-secondary);
}
.skill:hover .skill-img {
	transform: translateY(-10%);
}
.know-more {
	background-color: var(--color-secondary);
	display: inline-block;
	color: var(--color-light);
	padding: 15px 35px;
	font-size: 18px;
	font-family: var(--primary-font);
	border-radius: 8px;
	transition: all .3s ease-out;
}
.know-more:hover {
	box-shadow: var(--shadow-secondary);
}
.know-more-icon {
	font-size: 22px;
	margin-right: 15px;
}

.tooltip {
	position: relative;
}
.tooltip-box {
	display: none;
	position: absolute;
	left: calc(50% - 60px);
	top: 120%;
	text-align: center;
	text-transform: uppercase;
	background-color: var(--color-light);
	color: var(--color-secondary-dark);
	box-shadow: var(--shadow-secondary);
	width: 120px;
	padding: 8px 0 8px;
	border-radius: 5px;
	font-family: var(--primary-font);
	font-weight: 600;
	z-index: 1;
}
.tooltip-box::after {
	content: '';
	display: block;
	position: absolute;
	bottom: 100%;
	left: calc(50% - 7px);
	border-bottom: 7px solid var(--color-light);
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
}
.tooltip:hover .tooltip-box {
	display: inline-block;
}


/* goals styles */
.title-right {
	margin: 0 auto 20px 55vw;
	color: var(--color-very-dark);
}
.goals-container {
	background-color: var(--color-primary);
	padding: 0 5vw 0 0;
	width: 70vw;
	margin: 0 auto;
}
.goals-text {
	color: var(--color-light);
}
.goals-img {
	width: 110%;
}


/* Projects styles */
.project {
	border-radius: 30px;
	transition: all 0.4s ease-out;
	height: 350px;
	width: 300px;
	background: -webkit-linear-gradient(
		rgba(255, 255, 255, 0),
		rgba(0,0,0,0.7)
	),
	url('/assets/images/projects/code-img.png');
	background: linear-gradient(
		rgba(255, 255, 255, 0),
		rgba(0,0,0,0.7)
	),
	url('/assets/images/projects/code-img.png');
	background: -moz-linear-gradient(
		rgba(255, 255, 255, 0),
		rgba(0,0,0,0.7)
	),
	url('/assets/images/projects/code-img.png');
}
.project:hover {
	box-shadow: var(--shadow-primary);
	transform: translateY(-5%);
}
.project-content {
	margin-left: 20px;
	margin-top: 80px;
}
.projects-title {
	color: var(--color-primary-dark);
	font-size: 40px;
}
.project-title {
	color: var(--color-light);
	font-family: var(--title-font);
	font-size: 40px;
	font-weight: 700;
}
.project-description {
	color: var(--color-light);
	font-size: 24px;
}


/* Footer syles */
.footer-container {
	position: absolute;
	justify-items: start;
	left: 20px;
	bottom: 0;
}
.footer-logo {
	color: var(--color-light);
	font-family: var(--icon-font);
	font-size: 42px;
	font-weight: 600;
	padding-bottom: 20px;
}
.footer-title {
	color: var(--color-primary);
	font-family: var(--primary-font);
	font-weight: 600;
	font-size: 24px;
	padding-bottom: 15px;
	padding-right: 30px;
}
.footer-link {
	color: var(--color-light);
	font-family: var(--primary-font);
	font-size: 18px;
	padding-bottom: 14px;
	position: relative;
	transition: color .5s;
}
.footer-link::after {
	content: "";
	width: 0;
	height: 1px;
	position: absolute;
	top: 68%;
	left: 3%;
	background-color: var(--color-primary-light);
	z-index: 30;
	transition: width .5s;
}
.footer-link:nth-child(0) {
	color: var(--color-primary);
}
.footer-link:hover .footer-link::after {
	width: 70%;
}
.footer-img {
	width: 35vw;
	height: auto;
	margin-left: 5vw;
	margin-right: 15vw;
}

/* Animations */
/* Header */
@keyframes move {
	0% {
		transform: translateY(100%);
	}
	100% {
		transform: translateY(0);
	}
}

header {
    height: 100%;
	display: flex;
	justify-content: left;
    text-align: left;
}
h3 {
	font-size: 28px;
	color: var(--color-primary);
	margin-bottom: 30px;
    font-family: var(--secondary-font);
}
form {
    width: 350px;
    margin-left: 50px;
    padding: 0 35px 35px;
    border-radius: 4px;
    font-family: var(--font);
    background-color: var(--color-light);
}
label {
    font-family: var(--secondary-font);
    color: var(--color-very-dark);
    font-weight: bolder;
}
input {
    border-bottom: 2px solid var(--color-very-dark);
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: var(--color-light);
}
textarea {
    border-bottom: 2px solid var(--color-very-dark);
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: var(--color-light);
}
button {
    padding: 5px 40px;
    margin-top: 20px;
    font-family: var(--secondary-font);
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 2px;
    border: none;
    border-radius: 4px;
    background-color: var(--color-secondary-dark);
    color: var(--color-light);

    transition: all .3s ease-in-out;
}
button:hover {
    box-shadow: var(--shadow-secondary);
}

.imagen {
	width: 40vw;
	height: 100vh;
	background: -webkit-linear-gradient(
			right, rgba(78, 148, 122, 0.5),
			rgba(102, 174, 148, 0.3)
		),
		url(/assets/images/landing-img.webp) -300px;
    background: linear-gradient(
			to left, rgba(78, 148, 122, 0.5),
			rgba(102, 174, 148, 0.3)
		),
		url(/assets/images/landing-img.webp) -300px;
	background-size: cover;
    box-shadow: inset -8px 0px 12px rgba(0, 0, 0, 0.3);
	transition: all .3s ease-in-out;
}


@media (max-width: 750px) {
	.imagen {
		width: 100vw;
		height: 40vh;
		position: absolute;
		top: 0;
		left: 0;
		background-repeat: no-repeat;
		background-position: 0 0;
	}
	form {
		z-index: 1;
        margin-top: 15vh;
        margin-left: auto;
        margin-right: auto;
        box-shadow: var(--shadow-secondary);
        overflow: auto;
	}
	h3 {
		margin-top: 25px;
        font-size: 24px;
	}
}
@media (max-width: 500px) {
	h3 {
		font-size: 20px;
		width: 60vw;
	}
}