/* ======== General styles ========== */
::-webkit-scrollbar {
	width: 0;
}

header {
	height: 80vh;
	background: -webkit-radial-gradient(
		#0C2D48,
		#011220
	);
	background: radial-gradient(
		#0C2D48,
		#011220
	);
	background: -moz-radial-gradient(
		#0C2D48,
		#011220
	);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 0 0;
	background-attachment: fixed;
	box-shadow: inset 0px -4px 16px rgba(32, 32, 32, 0.3);
}
footer {
	height: 60vh;
	position: relative;
	background: -webkit-radial-gradient(
		#0C2D48,
		#011220
	);
	background: radial-gradient(
		#0C2D48,
		#011220
	);
	background: -moz-radial-gradient(
		#0C2D48,
		#011220
	);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 0 0;
	background-attachment: fixed;
	box-shadow: inset 0px -4px 16px rgba(32, 32, 32, 0.3);
}
h1 {
	color: var(--color-light);
	font-family: var(--title-font);
	font-weight: bolder;
	font-size: 72px;
	margin-bottom: 15px;
}
h2 {
	color: var(--color-primary-dark);
	font-size: 40px;
	padding-top: 150px;
}
h2.title-left {
	margin-left: 160px;
}
h3 {
	color: var(--color-light);
	font-weight: 200;
}
h4 {
	color: var(--color-light);
	font-weight: 300;
	font-style: italic;
	font-family: var(--primary-font);
}
h5 {
	color: var(--color-light);
	font-family: var(--primary-font);
	font-size: 24px;
	font-weight: 100;
	font-style: italic;
	margin-left: 5%;
	margin-right: auto;
	width: 25%;
}
a {
	text-decoration: none;
}
p {
	font-family: var(--primary-font);
	font-size: 28px;
	font-weight: 300;
	color: var(--color-dark);
	margin: 0 160px 50px;
}
pre {
	font-size: 24px;
	font-style: italic;
	color: var(--color-dark);
}
b {
	font-weight: normal;
}
strong {
	color: var(--color-secondary);
	font-weight: normal;
}
i {
	font-size: 48px;
}
nav {
	position: fixed;
	display: flex;
	top: 0;
	left: 0;
	width: 100vw;
	height: 70px;
	transition: height .4s ease-in-out, box-shadow .7s ease, background-color .3s ease-in-out;
	z-index: 20;
}
article {
	width: 100vw;
	height: 100vh;
	justify-content: center;
	align-items: center;
	text-align: center;
}
article:nth-child(1) {
	text-align: start;
}
hr {
	background-color: var(--color-primary-dark);
	width: 100px;
	height: 3px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 60px;
	border-width: 0px;
	border-radius: 5px;
}
hr.hr-left {
	margin-left: 160px;
}
ul {
	display: flex;
	margin-left: auto;
	margin-right: 2vw;
	width: 50vw;
	justify-content: end;
}


/* ======== Class styles ========== */

/* Landing styles */
.flex {
	display: flex;
	text-align: left;
}

.flex > .data:nth-child(1) {
	margin-left: 300px;
}
.flex > .data:nth-child(2) {
	margin-right: 300px;
	margin-left: auto;
}
.abajo {
	background-color: #021a2e;
	height: 60px;
	box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.3);
}
.abajo .nav-link:hover {
	background-color: #0C2D48;
}
.abajo h6:nth-child(1) {
	font-size: 38px;
}

.hamburguer {
	color: var(--color-light);
	font-size: 38px;
}
.nav-input {
	display: none;
}
.nav-label {
	margin-right: 3%;
	margin-left: auto;
	display: none;
	transition: all .5s ease-in-out;
}

.landing-text {
	padding-top: 15vh;
	margin-bottom: 10px;
	text-align: end;
	margin-top: 10vh;
	margin-left: 5vw;
	width: 45vw;
}
.landing-text > h3 {
	font-size: 38px;
	font-family: var(--primary-font);
	margin-bottom: 40px;
}

.nav-link {
	text-decoration: none;
	padding: 17px 18px;
	color: var(--color-light);
	font-family: var(--primary-font);
	font-size: 22px;
	transition: 0.3s ease-in-out;
}

.nav-element {
	list-style: none;
	position: relative;
	font-weight: 300;
}


.social-media {
	text-align: center;
}
.social-link {
	width: 60px;
	height: 60px;

	display: inline-block;
	border: 3px solid var(--color-primary-dark);
	border-radius: 50%;
	margin: 0 10px;

	transition: all 0.3s ease-in;
}
.logo {
	position: absolute;
	top: 0;
	left: 3%;
	font-weight: light;
	background-color: transparent;
	color: var(--color-light);
	transition: all .3s ease-in;
}
.icon {
	margin-top: 9px;
	font-size: 34px;
	color: var(--color-primary-dark);
}
.social-link:hover .icon {
	color: var(--color-light);
	transition: 0.5s ease-in-out;
}
.social-link:hover {
	background-color: var(--color-primary-dark);
	box-shadow: var(--shadow-secondary);
	transform: translateY(-10%);
}

.profile-img {
	width: 220px;
	height: 220px;

	position: absolute;
	top: calc(80vh - 110px);
	left: calc(50vw - 110px);

	background: url('/assets/images/foto-perfil.webp');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;

	border: 6px solid var(--color-light);
	border-radius: 50%;
	box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.3);
}


/* Phrase styles */
.phrase {
	background-color: var(--color-very-dark);
	box-shadow: inset 0 0 18px rgba(0, 0, 0, 0.3);
	height: 100vh;
	text-align: right;
	justify-content: right;
}
.phrase > p {
	color: var(--color-light);
	font-family: var(--primary-font);
	font-weight: 900;
	font-size: 54px;
	padding-top: 80px;
	width: 470px;
	margin-right: 100px;
	text-shadow: var(--shadow-secondary);
}
.phrase > hr {
	background-color: var(--color-light);
	margin-bottom: 15px;
	margin-top: 20px;
	margin-right: 100px;
	box-shadow: var(--shadow-secondary);
}
.phrase > h4 {
	text-shadow: var(--shadow-secondary);
	margin-right: 100px;
	font-size: 20px;
}

.flex > div:nth-child(1) {
	margin-left: 20%;
	margin-right: auto;
}
.flex > div:nth-child(2) {
	margin-left: auto;
	margin-right: auto;
}
.flex > div:nth-child(3) {
	margin-left: auto;
	margin-right: auto;
}
.flex > div:nth-child(4) {
	margin-left: auto;
	margin-right: 20%;
}


/* Skills styles */
.skills {
	background-color: var(--color-secondary-dark);
	justify-content: space-between;
}
h2.skill-title {
	color: var(--color-primary-light);
}
h2.skill-hr {
	color: var(--color-primary-light);
}
.technologies {
	margin-bottom: 20vh;
}
.skill-img {
	color: var(--color-secondary);
	font-size: 45px;
	background-color: var(--color-light);
	border-radius: 50%;
	width: 80px;
	height: 80px;
	padding-top: 22%;
	text-align: center;
	transition: all 0.5s ease-out;
}
.skill-img:hover {
	box-shadow: var(--shadow-secondary);
}
.skill:hover .skill-img {
	transform: translateY(-10%);
}
.know-more {
	background-color: var(--color-primary-dark);
	display: inline-block;
	color: var(--color-light);
	padding: 20px 30px;
	font-size: 18px;
	font-family: var(--primary-font);
	border-radius: 8px;
	transition: all .3s ease-out;
}
.know-more:hover {
	box-shadow: var(--shadow-secondary);
}
.know-more-icon {
	font-size: 22px;
	margin-left: 15px;
}

.tooltip {
	position: relative;
}
.tooltip-box {
	display: none;
	position: absolute;
	left: calc(50% - 60px);
	top: 120%;
	text-align: center;
	text-transform: uppercase;
	background-color: var(--color-light);
	color: var(--color-secondary-dark);
	box-shadow: var(--shadow-secondary);
	width: 120px;
	padding: 8px 0 8px;
	border-radius: 5px;
	font-family: var(--primary-font);
	font-weight: 600;
	z-index: 1;
}
.tooltip-box::after {
	content: '';
	display: block;
	position: absolute;
	bottom: 100%;
	left: calc(50% - 7px);
	border-bottom: 7px solid var(--color-light);
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
}
.tooltip:hover .tooltip-box {
	display: inline-block;
}


/* Objectives styles */
.title-right {
	margin: 0 auto 20px 55vw;
	color: var(--color-very-dark);
}
.objectives-container {
	background-color: var(--color-primary);
	padding: 40px;
	width: 80vw;
	margin: 0 auto;
}
.objectives-text {
	color: var(--color-light);
}


/* Projects styles */
.project {
	border-radius: 30px;
	transition: all 0.4s ease-out;
	height: 350px;
	width: 300px;
	background: -webkit-linear-gradient(
		rgba(255, 255, 255, 0),
		rgba(0,0,0,0.7)
	),
	url('/assets/images/projects/code-img.png');
	background: linear-gradient(
		rgba(255, 255, 255, 0),
		rgba(0,0,0,0.7)
	),
	url('/assets/images/projects/code-img.png');
	background: -moz-linear-gradient(
		rgba(255, 255, 255, 0),
		rgba(0,0,0,0.7)
	),
	url('/assets/images/projects/code-img.png');
}
.project:hover {
	box-shadow: var(--shadow-primary);
	transform: translateY(-5%);
}
.project-content {
	margin-left: 20px;
	margin-top: 80px;
}
.projects-title {
	color: var(--color-primary-dark);
	font-size: 40px;
}
.project-title {
	color: var(--color-light);
	font-family: var(--title-font);
	font-size: 40px;
	font-weight: 700;
}
.project-description {
	color: var(--color-light);
	font-size: 24px;
}


/* Footer syles */
.footer-container {
	position: absolute;
	left: 20px;
	bottom: 0;
}
.footer-title {
	color: var(--color-primary-light);
	font-family: var(--primary-font);
	font-weight: 600;
	font-size: 24px;
	margin-bottom: 20px;
}
.footer-link {
	color: var(--color-light);
	font-family: var(--primary-font);
	font-size: 18px;
	display: inline-block;
	margin-bottom: 10px;
}
.footer-img {
	width: 40vw;
	height: auto;
}
.links {
	margin-right: 50px;
}