i {
	color: var(--color-primary);
	font-style: normal;
}
h3 {
	font-size: 28px;
	color: var(--color-dark);
	margin-bottom: 20px;
	transition: all .5s ease-in-out;
}
header {
	display: flex;
	align-items: center;
	justify-content: center;
}
article {
	margin: 0 auto;
}
img {
	width: 320px;
	height: 320px;
	border: 15px solid var(--color-dark);
	border-radius: 4px;
	box-shadow: var(--shadow-primary);
	transition: all .5s ease-in-out;
}
.imagen {
	width: 40vw;
	height: 100vh;
	background: -webkit-linear-gradient(
			right, rgba(78, 148, 122, 0.5),
			rgba(102, 174, 148, 0.3)
		),
		url(/assets/images/landing-img.webp) -300px;
    background: linear-gradient(
			to left, rgba(78, 148, 122, 0.5),
			rgba(102, 174, 148, 0.3)
		),
		url(/assets/images/landing-img.webp) -300px;
	background-size: cover;
    box-shadow: inset -8px 0px 12px rgba(0, 0, 0, 0.3);
	transition: all .3s ease-in-out;
}

@media (max-width: 750px) {
	.imagen {
		width: 100vw;
		height: 40vh;
		position: absolute;
		top: 0;
		left: 0;
		background-repeat: no-repeat;
		background-position: 0 0;
	}
	img {
		box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
	}
	article {
		z-index: 1;
	}
	h3 {
		margin-top: 10vh;
		color: var(--color-light);
		line-height: 30px;
	}
	i {
		background-color: var(--color-primary);
		padding: 0px 5px 2px;
		color: var(--color-light);
		border-radius: 1px;
		font-style: italic;
	}
}
@media (max-width: 500px) {
	h3 {
		font-size: 20px;
		width: 60vw;
		margin-left: auto;
		margin-right: auto;
	}
	img {
		width: 70vw;
		height: auto;
	}
}